extends layout

block content
  //- Index top
  .row
    //- top banner
    .topbanner.about
      .layer
      .col-12.head
        .container
          .row
            .col-md-8.col-10.mx-auto
              h1 About us
    .container.mt-5.aboutus
      .row
        .col-md-8.col-10.mx-auto.py-4
          p Lacus vel facilisis volutpat est velit egestas dui id. Varius quam quisque id diam vel quam elementum pulvinar etiam. Eget nunc scelerisque viverra mauris in aliquam sem. Cursus in hac habitasse platea dictumst. Sed nisi lacus sed viverra tellus in hac habitasse. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Est pellentesque elit ullamcorper dignissim cras tincidunt. Fermentum et sollicitudin ac orci phasellus egestas tellus. A cras semper auctor neque vitae tempus quam pellentesque nec. Nulla posuere sollicitudin aliquam ultrices sagittis. Sed nisi lacus sed viverra tellus. Varius morbi enim nunc faucibus a pellentesque. Suspendisse sed nisi lacus sed. Ut pharetra sit amet aliquam id diam maecenas ultricies mi. Vestibulum lectus mauris ultrices eros in cursus turpis massa.
      .row
        .col-md-8.col-10.mx-auto.py-2
          .row
            .col-md-6.col-12.my-4
              img(src='/images/location-sample.jpg', class='img-fluid shadow')
              .images
                img(src='/images/location-sample.jpg', class='img-fluid')
            .col-md-6.col-12.my-4
              img(src='/images/location-sample.jpg', class='img-fluid shadow')
              .images
                img(src='/images/location-sample.jpg', class='img-fluid')
    .container.mt-3.team
      .row
        .col-md-8.col-10.mx-auto.py-4
          h2 Team Work
          p Urna duis convallis convallis tellus id interdum velit. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. Viverra mauris in aliquam sem fringilla. Ut eu sem integer vitae justo eget magna fermentum iaculis. Vel quam elementum pulvinar etiam non. At in tellus integer feugiat scelerisque varius morbi enim nunc. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Diam ut venenatis tellus in metus vulputate eu scelerisque. Amet cursus sit amet dictum sit. Integer malesuada nunc vel risus. Ante metus dictum at tempor. Purus in massa tempor nec feugiat. Aliquam etiam erat velit scelerisque in dictum non consectetur a. Quam elementum pulvinar etiam non quam lacus suspendisse. Sapien pellentesque habitant morbi tristique senectus et. Cursus risus at ultrices mi. Posuere urna nec tincidunt praesent semper feugiat.
        .col-12.mb-2
          img(src='/images/location-sample1.jpg', class='img-fluid shadow')
          .team-image
            img(src='/images/location-sample1.jpg', class='img-fluid')
        .col-12.text-center
          h3.mt-5.thanks thanks for using glasshoppr
