extends w-dashboard

block content
  .row
    .col-sm-11.mx-auto.my-2.text-center
      .row.justify-content-between
        .col-4
          h2 November, 2017
        .col-4
          p Week
      .row.h-100
        - var daysName = moment.weekdays();
        each val in daysName
          .col.week.day
            -var week = moment().week();
            -var thisWeek = moment().day(val).week(week);
            -var thisDay = moment(thisWeek).format('dd D');
            p.day= thisDay
            .event
              
