extends vanilla-layout
include mixins.pug

block content
  .row
    +winerydashboard
    main.col-md-10.col-xs-11.pl-2.pt-2(style='height:100vh')
      .page-header
        h1 Un título
      p.lead (lead) Un texto
