extends vanilla-layout

block content
  .row
    .wcomplete
      .row.norowmargin.align-items-center
        .col-md-6.col-12.text-center.my-auto
          .logo.text-center
            img(src='/images/logo-glasshoppr.png')
        .col-md-6.col-12
          .col-10.col-md-10.mx-auto
            .complete-module.text-center
              img(src="/images/success.svg")
              h2.section-title Thank you!
              p.subtitle WE WILL EMAIL YOUR PASSWORD SHORTLY
                  
