extends layout

block content
  //- My profile top
  .row
    .topbanner.profile
      .wrapper
        .container
          .row
            .col-md-2.col-12.user-pic.my-auto
              img(src='/images/user-sample1.jpg')
            .col-md-2.col-12.align-self-start.name
              p Edgar Lozano
            .col-md-4.col-10.menu
              .row.justify-content-around.py-3.mt-3
                .col.text-center
                  a(href="/profile") My Profile
                .col.text-center
                  a(href="/reservations") Reservations
                .col.text-center
                  a.active(href="/favorites") Taste List
    
    .container.favorites.listing.index
      .row
        //- Single winerie
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample1.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample1.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample1.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample1.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample1.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample1.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample1.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample1.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        .col-md-4.col-sm-6.col-12.my-4
          .col-11.mx-auto
            //- Glowing shadow image (same as winerie image)
            img(src='/images/sample.jpg', class='img-fluid shadow')
          .col-11.mx-auto.winerie.index
            //- Winerie image
            img(src='/images/sample.jpg', class='img-fluid')
            .layer
            .info
              //- Winerie info
              p.name Winerfull
              //- Winerie likes and location
              p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
