footer.container-fluid
  .row.align-items-center
    .col-md-6.col-12.glasswine
      img(src='/images/glass-white.png', class='img-fluid')
    .col-md-6.col-12.footlinks
      a(href='mailto:cheers@glasshoppr.com?Subject=Hello%20Glashoppr') cheers@glasshoppr.com
      p.space &nbsp;|&nbsp;
      a(href='https://www.facebook.com/glasshoppr/', target='_blank') #[span(class='fa fa-facebook-square')]
      a(href='https://twitter.com/glasshoppr', target='_blank') #[span(class='fa fa-twitter')]
      p.space |&nbsp;
      a(href='#') Disclaimers
