extends layout

block content
  //- Index top
  .row
    //- top banner
    .topbanner.about
      .layer
      .col-12.head
        .container
          .row
            .col-md-6.col-10.mx-auto
              h1 For Wineries
    .container.mt-5.aboutus
      .row
        .col-md-6.col-10.mx-auto.py-4
          p Lacus vel facilisis volutpat est velit egestas dui id. Varius quam quisque id diam vel quam elementum pulvinar etiam. Eget nunc scelerisque viverra mauris in aliquam sem. Cursus in hac habitasse platea dictumst. Sed nisi lacus sed viverra tellus in hac habitasse. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus.
      .row
        .col-md-6.col-10.mx-auto.py-4
          h2 How to
          p Lacus vel facilisis volutpat est velit egestas dui id. Varius quam quisque id diam vel quam elementum pulvinar etiam. Eget nunc scelerisque viverra mauris in aliquam sem. Cursus in hac habitasse platea dictumst. Sed nisi lacus sed viverra tellus in hac habitasse. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus.
      .row
        .col-md-6.col-10.mx-auto.py-4
          h2 Process
          p Lacus vel facilisis volutpat est velit egestas dui id. Varius quam quisque id diam vel quam elementum pulvinar etiam. Eget nunc scelerisque viverra mauris in aliquam sem. Cursus in hac habitasse platea dictumst. Sed nisi lacus sed viverra tellus in hac habitasse. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus.
      .row
        .col-md-4.col-11.mx-auto.my-5
          .btn.btn-red cheers@glasshoppr.com
      
