extends layout

block content
  // Index top
  .row
    // Main banner background image
    .mainbanner.index
      .col-md-6.col-11.m-auto.text-center.big-padding-vertical
        h1 Discover & book wine tastings
      // Search module container
      .col-md-4.col-11.mx-auto.search
        .search-inner.text-center
          .form-group
            .region
              input(type='text', class='form-control', placeholder='Enter location', autocomplete='false', required='required')
            .row.align-items-start
              .col-md-4
                .filter
                  select.select.form-control
                    option(value='0') variety
                    option(value='1') option 2
                    option(value='2') option 3
                    option(value='3') option 4
                    i.fa.fa-chevron-down
              .col-md-5.ml-auto
                .filter
                  select.select.form-control
                    option(value='0') more filters
                    option(value='1') option 2
                    option(value='2') option 3
                    option(value='3') option 4
                    i.fa.fa-chevron-down
          .col-12.mx-auto
            .btn.btn-red search
          .col-md-8.col-12.mx-auto.mt-3
            a.btn.btn-border-white(href="/cities.html") Search by city
  // Index listing grid
  .container.listing.index.my-5.big-padding-vertical
    .row
      // Single winerie
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample1.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample1.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample1.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample1.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample1.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample1.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample1.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample1.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-11.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='images/sample.jpg', class='img-fluid shadow')
        .col-11.mx-auto.winerie.index
          // Winerie image
          img(src='images/sample.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
        
