extends simple-layout

block content
  //- Single winerie top
  .row
    .mainlogin
      .col-10.col-md-4.mx-auto
        .login-module
          //- login form
          h2.section-title Sign in
          .form-group
            input(type='email', class='form-control', placeholder='Email', autocomplete='false', required='required')
          .form-group
            input(type='password', class='form-control', placeholder='Password', autocomplete='false', required='required')
          .row
            .col-12
              .btn.btn-facebook login with facebook
            .col-12.text-center
              .btn.btn-red sign in
              a.simple(href='/register') Create account
