nav#navbar.navbar.fixed-top.navbar-light.justify-content-between.row
  .col-md-8.col-10
    a(href='#', class='navbar-brand')
      img(src='/images/logo-glasshoppr.png', class='img-fluid') 
  .col-md-4.col-2
    .row
      .col-md-10.nosidepadding
        a(href='#', class='login') Login
      .col-md-2.col-12
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navlinks', aria-controls='navlinks', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon        
#navlinks.collapse
  ul
    li 
      - if(url === '/about')
        a(href='/about', class='active') About Us
      - else
        a(href='/about') About Us
    li 
      - if(url === '/for-wineries')
        a(href='/for-wineries', class='active') For Wineries
      - else
        a(href='/for-wineries') For Wineries
    li 
      - if(url === '/contact')
        a(href='/contact', class='active') Contact Us
      - else
        a(href='/contact') Contact Us
    li.login
      a(href='/login') Login
