nav#navbar.navbar.fixed-top.navbar-light.justify-content-between.row
  .col-md-8.col-10
    a(href='#', class='navbar-brand')
      img(src='./assets/img/logo-glasshoppr.png', class='img-fluid') 
  .col-md-4.col-2
    .row
      .col-md-10.nosidepadding
        a(href='#', class='login') Login
      .col-md-2.col-12
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navlinks', aria-controls='navlinks', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon        
#navlinks.collapse
  ul
    li 
      a(href='#') About Us
    li 
      a(href='#') For Wineries
    li 
      a(href='#') Contact Us
    li.login
      a(href='#') Login
