<!DOCTYPE html>
html(lang="en")
head
  title Glasshoppr
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="/images/favicon.ico")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
  link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="/stylesheets/main.css")
  
body
  include mixins.pug
  .container-fluid.maincontent
    .row
      +winerydashboard
      main.col-md-10.col-xs-11.pl-2.pt-2(style='height:100vh')
        block content

  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
  script(src='https://cdn.rawgit.com/renatorib/janimate/master/dist/janimate.min.js')
  script(src="/javascripts/app.js")
