extends w-dashboard
include mixins.pug

block content
  .row.h-100
    .col-sm-12.my-auto.text-center
      .icon-cheers
      p.py-3 Your glasshoppr page is ready to be completed,<br> we need to add more information, photos and other details.
      .row
        .col-md-4.col-8.mx-auto
          .btn.btn-red Let's do it!
