extends layout

block content
  // Single winerie top
  .row
    // Top banner single winerie
    .topbanner.winerie
      .layer
      .col-12.info
        .container
          .row
            .col-md-6.col-11
              h1.winerie Bodegas YSIOS
              p.address 7438 Blix St, San Diego, CA, 92111
              p.social <strong>30</strong> <span class="fa fa-glass"></span>
              p.is_open <span></span> open
              //- p.is_closed <span></span> closed
              btn.btn-border-white Add to taste list
      .container
        .col-md-4.col-11.mx-auto.book
          .book-inner
            h4.book-title reservation
            .row.py-2
              .col-4.date.text-center.py-3
                p 20 MAY<br><span class="fa fa-calendar" aria-hidden="true"></span>
              .col-4.date.text-center.separator.py-3
                p 9:30<span>pm</span><br><span class="fa fa-clock-o" aria-hidden="true"></span>
              .col-4.date.text-center.py-3
                p 5<br><span class="fa fa-user" aria-hidden="true"></span>
            #schedule.collapse
              .schedule
                h4.book-title choose
                .row
                  .col-md-3.col-4
                    .row
                      p may 19
                      button.btn.btn-border-white.hour 10:00
                      button.btn.btn-border-white.hour 13:00
                      button.btn.btn-border-white.hour(disabled='') 15:00
                      button.btn.btn-border-white.hour 17:00
                  .col-md-3.col-4
                    .row
                      p.selected may 20
                      button.btn.btn-border-white.hour 10:00
                      button.btn.btn-border-white.hour 13:00
                      button.btn.btn-border-white.hour 15:00
                      button.btn.btn-border-white.hour 17:00
                  .col-md-3.col-4
                    .row
                      p may 21
                      button.btn.btn-border-white.hour(disabled='') 10:00
                      button.btn.btn-border-white.hour 13:00
                      button.btn.btn-border-white.hour 15:00
                      button.btn.btn-border-white.hour(disabled='') 17:00
                  .col-md-3.col-4.d-none.d-md-block
                    .row
                      p may 22
                      button.btn.btn-border-white.hour 10:00
                      button.btn.btn-border-white.hour(disabled='') 13:00
                      button.btn.btn-border-white.hour(disabled='') 15:00
                      button.btn.btn-border-white.hour 17:00
            .col-12.mx-auto.pt-2
              // Este botón debe estar inhabilidato hasta que se llenen los campos de arriba
              .btn.btn-red(id='accordion-schedule', data-toggle='collapse', data-target='#schedule', aria-expanded='false', aria-controls='schedule') search availability

  .container.winerie-info
    .row
      .col-md-7.col-12.mx-auto
        .col-md-10.col-12.info
          ul.tabs
            li.tab-link.current(data-tab='tab-1') Description
            li.tab-link(data-tab='tab-2') Tasting Details
            li.tab-link(data-tab='tab-3') Wines
          // Winerie bio
          #tab-1.tab-content.current
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            // Winerie information
            .container-fluid.bio
              .row
                // Wine vibe / phone
                .col-md-6.col-12
                  table.table.table-responsive
                    tbody
                      tr
                        td.section
                          h6 Wine vibe
                        td.desc
                          p Lorem ipsum
                      tr
                        td.section
                          h6 Phone
                        td.desc
                          p (02) 9194 3100
                // Price range / website
                .col-md-6.col-12
                  table.table.table-responsive
                    tbody
                      tr
                        td.section
                          h6 Price range
                        td.desc
                          p $40 and under
                      tr
                        td.section
                          h6 Website
                        td.desc
                          a(href='#') Go to Website
                // Attributes
                .col-12.section.attributes
                  h6 Attributes
                  .tags
                    p good for large groups
                    p serves lunch
                    p pets allowed
                    p wine tours
                .col-12.more
                  h6 Schedules
                  p <span>M - F:</span> 11am - 3pm
                  p <span>Sat - Sun:</span> 10am - 4pm
                  p <span>Public Holiday Schedule:</span> *
                  
                  
          #tab-2.tab-content
            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #tab-3.tab-content
            .container-fluid.wines
              .row
                table.table.table-responsive
                  thead
                    tr
                      th varietal
                      th year
                      th ava
                      th tasting notes
                  tbody
                    tr
                      td Chardonnay
                      td 2016
                      td Oakville
                      td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    tr
                      td Chardonnay
                      td 2016
                      td Oakville
                      td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    tr
                      td Chardonnay
                      td 2016
                      td Oakville
                      td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-5.col-11.mx-auto.reviews
        .container-fluid
          h6 Tasting reviews
          .row.review
            .col-md-2.col-3.user-pic.my-auto
              img(src='./assets/img/user-sample2.jpg')
            .col-md-10.col-9.user-comment
              p.user-name Tiffany Taylor
              p Sed commodo, lorem sed dapibus posuere, elit ante elementum elit
          .row.review
            .col-md-2.col-3.user-pic.my-auto
              img(src='./assets/img/user-sample1.jpg')
            .col-md-10.col-9.user-comment
              p.user-name Sullivan
              p Integer mattis laoreet congue
          .row.review
            .col-md-2.col-3.user-pic.my-auto
              img(src='./assets/img/user-sample.jpg')
            .col-md-10.col-9.user-comment
              p.user-name Kenneth Crawford
              p Vestibulum ante ipsum primis in faucibus
    
  .container.listing.winerie.my-5
    h6 You might also like:
    .row
      // Single winerie
      .col-md-4.col-sm-6.col-12.my-4
        .col-12.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='./assets/img/sample.jpg', class='img-fluid shadow')
        .col-12.mx-auto.winerie.winerie
          // Winerie image
          img(src='./assets/img/sample.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-12.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='./assets/img/sample1.jpg', class='img-fluid shadow')
        .col-12.mx-auto.winerie.index
          // Winerie image
          img(src='./assets/img/sample1.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
      .col-md-4.col-sm-6.col-12.my-4
        .col-12.mx-auto
          // Glowing shadow image (same as winerie image)
          img(src='./assets/img/sample.jpg', class='img-fluid shadow')
        .col-12.mx-auto.winerie.index
          // Winerie image
          img(src='./assets/img/sample.jpg', class='img-fluid')
          .layer
          .info
            // Winerie info
            p.name Winerfull
            // Winerie likes and location
            p.location <strong>3</strong> <span class="fa fa-glass"></span> | San Diego, CA
  
